.ooscca.rmdp-wrapper {
  box-shadow: none;
}

.ooscca .rmdp-header {
  font-size: 15px;
  color: #333;
  font-weight: 700;
}

.ooscca .rmdp-week-day {
  color: #333;
  /* TODO: use theme */
  font-size: 15px;
}

.ooscca .rmdp-day span {
  font-size: 15px;
  color: #666;
}

.ooscca .rmdp-range {
  background-color: #ffc50a;
  box-shadow: none;
}

.ooscca .rmdp-range.end:not(.force) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ooscca .rmdp-range.start:not(.force) {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ooscca .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: #fee593;
  color: #666;
}
