.ooscca.rmdp-wrapper {
  box-shadow: none;
}

.ooscca .rmdp-header {
  font-size: 15px;
  color: #333;
  font-weight: 700;
}

.ooscca .rmdp-week-day {
  color: #333;
  /* TODO: use theme */
  font-size: 15px;
}

.ooscca .rmdp-day span {
  font-size: 15px;
  color: #666;
}
.ooscca .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
  background-color: #fee593;
  color: #666;
}
.ooscca .rmdp-day.rmdp-disabled span {
  color: #ff0808;
}

.ooscca .rmdp-range {
  background-color: #ffc50a;
  box-shadow: none;
}

.ooscca .rmdp-range.end:not(.force) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ooscca .rmdp-range.start:not(.force) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* ============ Layout ============ */
.ooscca .rmdp-week {
  margin-top: 4px;
}

.ooscca .rmdp-day, .ooscca .rmdp-week-day {
  height: 36px;
} 

/* ============ Responsive ============ */
.ooscca.rmdp-wrapper {
  width: auto;
}

.ooscca .rmdp-calendar {
  flex: 1;
}

.ooscca .rmdp-day-picker div {
  flex: 1;
}
